#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}





/*Mis estilos*/
.error{
  background-color: rgba(255, 0, 0, 0.491);
  padding: 0px 20px;
}

.card{
  display:flex;
  flex-direction: column;
  align-items: start;
  background-color: rgba(0, 0, 0, 0.81);
  padding: 3rem;
  color: #ffffff;

}
.itemsCard{
  color: #1FDF64;
}

.titulo{
  margin-top: 0;
}
.formulario{
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  padding: 3rem;
  color: #ffffff;
}
.inputForm{
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
}
.inputVideo{
  display: flex;
  text-align: start;
  justify-content: start;
}
.botonAgregar{
  background-color: #1FDF64;
  color: black
}


/*MEDIA QUERY*/
@media (max-width: 580px) {
  .titulo{
    font-size: 2.5em;
  }
}

@media (max-width: 487px) {
  .titulo{
    font-size: 2em;
  }
}
@media (max-width: 422px) {
  .titulo{
    font-size: 1.5em;
  }
}
@media (max-width: 356px) {
  .titulo{
    font-size: 1.3em;
  }
}
